html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  background: #EDEDED;

}

header {
  background-color: black;
  margin-left: -8px;
  margin-right: -8px;
}

nav {
  padding: 24px;
  background: #333333;
  margin-bottom: 3%;
  margin-left: -8px;
  margin-right: -8px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 18px 10px 0 !important;
  font-size: 11pt;
}

nav a:active {
  color: #333333;
}

nav a:hover {
  color: #199542;
  cursor: pointer;
  font-weight: lighter;
}

nav a:visited {
  color: #ffffff;
}

p, h1,h2,h3,h4,h5,h6 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

footer {
  margin-left: -8px;
  margin-right: -8px;
  background-color: black;
  color:white;
  padding: 15px;
  display: block;
}

#banner {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.round {
  
  -webkit-border-radius: 50%; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 50%; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%; 
}

.flex-grid {
    display: flex;
    justify-content: space-around;
}

.flex-grid .col {
    max-width: 34%
}

.flex-grid .col p {
  padding: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

#quotes {
  height:120px;
  padding:46px;
  color:#000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:16px;
  line-height:1.5em;
}

p#quotes {
    font-weight: lighter;
    color: #9A9794;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: rgba(113, 113, 113, 0.5);
}

input[type=text] {
  width: 30%;
  height: 45px;
}

#clear {
  background-color: skyblue;
}

#add {
  background-color: skyblue;
  height: 50px;
  width: 100px;

}

#jsexhibition ul li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size:16px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}