html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  background: #EDEDED;
}

header {
  background-color: black;
}

nav {

}

p, h1,h2,,h3,h4,h5,h6 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

footer {

}

#banner {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
}

.flex-grid {
    display: flex;
    justify-content: space-around;
}

.flex-grid .col {
    max-width: 60%
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
